@use "../base/mixins" as mix;

@include mix.mobile {
    .header {
        background-image: url(../../../build/img/mobile_bg.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}