@use "variables" as var;

@mixin grid($nfilas, $ncolumnas) {
    display: grid;
    grid-template-columns: repeat($ncolumnas, 1fr);
    grid-template-rows: repeat($nfilas, 1fr);
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: 768px), (max-width: 1023px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (min-width: 480px), (max-width: 767px) {
        @content;
    }
}

@mixin flex() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


